*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  --primary-color: var(--yellow);
}

:root{
  --yellow:#F4C550;
  --light-yellow:#FBE9BA;
  --green:#9FBAAE;
  --light-green:#CBDED3;
  --blue:#9FB7CE;
  --light-blue:#BFD6EA;
  --pink:#E0A39A;
  --light-pink:#F2C0BD;
  --orange:#F0AA8D;
  --light-orange:#F4C8BA;
}